<div class="container">
  <h2>Détails client :</h2>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Civilité : {{detailClient.civility}}</li>
    <li class="list-group-item">Prénom : {{detailClient.firstName}}</li>
    <li class="list-group-item">Nom : {{detailClient.lastName}}</li>
    <li class="list-group-item">Email : {{detailClient.email}}</li>
    <li class="list-group-item">Téléphone : {{detailClient.telphone}}</li>
    <li class="list-group-item">Rue : {{detailClient.street}}</li>
    <li class="list-group-item">Ville : {{detailClient.city}}</li>
    <li class="list-group-item">Code postal : {{detailClient.zipCode}}</li>
    <li class="list-group-item">Login : {{detailClient.login}}</li>
    <!--  <li class="list-group-item">Mot de passe : {{detailClient.password}}</li>-->
  </ul>
</div>
