<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-center">
      <!-- Left links -->
      <a class="navbar-brand" href="#">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Logo" width="30" height="24"
             class="d-inline-block align-text-top">
        TP6
      </a>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/client/register']">Inscription client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/catalogue']">Catalogue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']">Panier
            <div class="badge">{{ produitsCount$ | async}}</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Connexion
          </a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
