<div class="container">
  <h1>Détail du produit</h1>
  <div *ngIf="produit" class="col-lg-8 border p-3 main-section bg-white">
    <div class="row m-0">
      <div class="col-lg-4 left-side-product-box pb-3">
        <img src="{{produit.image}}" class="border p-3">
      </div>
      <div class="col-lg-8">
        <div class="right-side-pro-detail border p-3 m-0">
          <div class="row">
            <div class="col-lg-12">
              <span>{{produit.description}}</span>
              <p class="m-0 p-0">{{produit.name}}</p>
            </div>
            <div class="col-lg-12">
              <p class="m-0 p-0 price-pro">{{produit.price}} €</p>
              <hr class="p-0 m-0">
            </div>
            <div class="col-lg-12 pt-2">
              <h5>Information : </h5>
              <span>{{produit.summary}}</span>
              <hr class="m-0 pt-2 mt-2">
            </div>
            <div class="col-lg-12">
              <p class="tag-section">Tag :</p>
              <div class="badge"> <span>{{produit.category}}</span> </div>
            </div>
            <div class="col-lg-12">
              <h6>Quantité :</h6>
              <input type="number" class="form-control text-center w-100" value="1">
            </div>
            <div class="col-lg-12 mt-3">
              <div class="row">
                <div class="col-lg-6 pb-2">
                  <a href="#" class="btn btn-success w-100">Ajouter au panier</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center pt-3">
        <h4>Plus de produits</h4>
      </div>
    </div>
  </div>
</div>
